@{
    ViewBag.Title = "FacebookInfo";


    <h2>Facebook NewsFeed</h2>

    if (Model != null && Model.friendsList.Count > 0)
    {
        <ul style="list-style-type: none; margin: 0; padding:0;">
            <li class="header clearfix">
                <div class="col-md-3">
                    <span>Poster's Name</span>
                </div>
                <div class="col-md-6">
                    <span>Message</span>
                </div>
                <div class="col-md-1">
                    <span>Link</span>
                </div>
                <div class="col-md-1">
                    <span>Likes</span>
                </div>
            </li>
        </ul>
        <ul style="list-style-type: none; margin: 0; padding:0;">
            @foreach (var post in Model.friendsList)
            {
                <li class="ui-widget-content clearfix" style="margin: 25px">
                    <div class="col-md-3">
                        <span>@post.Name</span>
                    </div>
                    <div class="col-md-6">
                        <span>@post.Message</span>
                    </div>
                    <div class="col-md-1">
                        @if (@post.Link != null)
                        {
                            <span><a href=@post.Link>Click Here</a></span>
                        }
                    </div>
                    <div class="col-md-1">
                        <span>@post.Likes</span>
                    </div>
                </li>
            }
        </ul>
    
    <!-- Original way of showing feed
        <h3>List of Recent Posts</h3>
        <div class="row">
            <table style="width:100%">
                <tr>
                    <td>Poster's Name</td>
                    <td>Message</td>
                    <td>Link</td>
                    <td>Number of Likes</td>
                </tr>
                @foreach (var post in Model.friendsList)
                {
                    <div class="col-md-3">
                        <tr>
                            <td>@post.Name</td>
                            <td>@post.Message</td>
                            <td><a>@post.Link</a></td>
                            <td>@post.Likes</td>
                        </tr>

                    </div>
                }
            </table>
        </div>
    -->
    }
    }