@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    @Scripts.Render("~/bundles/angular")
}

<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Update Status", "UpdateStatus")
        @Html.Partial("_FacebookFeed")
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Calendar", "Index", "Calendar", new { @class = "btn btn-default btn-xs pull-right" })
                <h3 class="panel-title">Today's Events</h3>
            </div>
            <p>Today's events (from the calendar) will go here.</p>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Full Report", "Index", "Stock", new { @class = "btn btn-default btn-xs pull-right" })
                <h3 class="panel-title">Top Five Stocks</h3>
            </div>
            @Html.Partial("_StocksPartial")
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Archive", "Index", "Chat", new { @class = "btn btn-default btn-xs pull-right" })
                <h3 class="panel-title">Chat Room</h3>
            </div>
            <p>Chat room (most recent messages plus input) will go here.</p>
        </div>
    </div>
</div>