@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    @Scripts.Render("~/bundles/angular")
}

@model WebPortal.Models.HomePageViewModel

<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Update Status", "UpdateStatus")
        <br />
        <a href="https://www.facebook.com/messages/new/" target="_blank">Send a Message</a>
        @Html.Partial("_FacebookFeed")
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Calendar", "Index", "Calendar", null, new { @class = "btn btn-default btn-xs pull-right" })
                <h3 class="panel-title">Today's Events</h3>
            </div>
            <ul>
                @if(Model == null || Model.todaysEvents == null || Model.todaysEvents.Count == 0)
                {
                    <li>No Events for Today</li>
                } else {
                    foreach(var e in Model.todaysEvents)
                    {
                        <li>@e.title <br /> @e.start - @e.end</li>
                    }
                }
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Full Report", "Index", "Stock", null, new { @class = "btn btn-default btn-xs pull-right" })
                <h3 class="panel-title">Top Five Stocks</h3>
            </div>
            @Html.Partial("_StocksPartial")
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Archive", "Index", "Chat", null, new { @class = "btn btn-default btn-xs pull-right" })
                <h3 class="panel-title">Chat Room</h3>
            </div>
            <p>Chat room (most recent messages plus input) will go here.</p>
        </div>
    </div>
</div>